.card {
  min-height: 350px;
  min-width: 250px;
  text-align: center;
  background-color: #89d3d3;
  margin-bottom: 40px;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  flex-shrink: 0;
}

.card:hover {
  transform: scale(1.05);
}
